---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>Astro is fast</main>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</Layout>

<style>
  main {
    color: white;
  }
</style>
